---
layout: default
---

<a href="{{ site.url }}">Return home</a>
<a href="{{ site.url }}">Edit this page</a>

{{ content }}

<a href="{{ site.url }}">Return home</a>
<a href="{{ site.url }}">Edit this page</a>
